.movie-card-link {
  text-decoration: none;
  color: inherit;
}

.movie-detail-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
  padding: 20px;
}

.detail-content {
  display: flex;
  gap: 40px;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 20px;
}

.detail-content img {
  width: 300px;
  border-radius: 15px;
}

.text-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-detail-page button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
}